<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Virtual Consult for Teams</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="root"></div>
    <script src="https://alcdn.msauth.net/browser/2.0.1/js/msal-browser.min.js" integrity="sha384-fbyYRj8H9iJU/JyncEbzW6WgVOaR5C+PU1dHsRBg2Ag2Q14F4IB8+T8BdknwjRQ8" crossorigin="anonymous"></script>
    <script src="https://statics.teams.microsoft.com/sdk/v1.5.2/js/MicrosoftTeams.min.js" crossorigin="anonymous"></script>
    <script src="~/lib/react/react.production.min.js"></script>
    <script src="~/lib/react-dom/react-dom.production.min.js"></script>
    <script src="~/lib/react-router-dom/react-router-dom.min.js"></script>
    <script src="~/dist/bundle.js" asp-append-version="true"></script>
</body>
</html>